<!DOCTYPE html>
<html>
<head><title>CasoPractico2</title></head>
<body>
  <h1>Servidor Web desplegado con Podman + Ansible</h1>
  <p>VM en Azure | Imagen desde ACR | Certificado x.509</p>
</body>
</html>