[Unit]
Description=Nginx Webserver en Podman
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/podman run --name {{ container_name }} \
  -p 443:443 \
  {{ acr_name }}/{{ image_name }}:{{ image_tag }}
ExecStop=/usr/bin/podman stop {{ container_name }}
ExecStopPost=/usr/bin/podman rm -f {{ container_name }}

[Install]
WantedBy=multi-user.target